html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
div.leaflet-control-attribution {
  font-size: 10px;
  font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  display: block;
  width: 250px;
  height: 100%;
  max-width: 100%;
  float: left;
}
#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.panel-primary {
    margin: 10px;
    padding: 10px;
}
.panel-primary h1 {
    font-size: 18px;
}
.panel-primary h2 {
    font-size: 14px;
}
.panel-primary p {
    font-size: 14px;
}
.panel-primary img {
    width: 100%;
}
.panel-primary ul li {
      list-style-type: none;
      margin-bottom: 5px;
      margin-left: -20px;
}
.modal-body ul li {
      list-style-type: circle;
      margin-left: -20px;
}
.modal-body h1 {
    font-size: 18px;
}
.modal-body h2 {
    font-size: 14px;
}
.modal-body p {
    font-size: 14px;
}
.modal-body img {
    width: 100%;
}

.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.panel-heading{
   width: 250px;
}
.panel-body{
  width: 250px;
}
.feature-row {
  cursor: pointer;
  width: 250px;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 40px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  body {
    padding-top: 50px;
  }
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}

.red-label {
  border-radius: 10px;
  padding: 3px;
  background-color: red;
  color: white;
  font-size: 12px;
  text-align: center;
}

.red-tooltip {
  border-radius: 10px;
  padding: 5px;
  spacing: 5px;
  background-color: red;
  color: white;
  font-size: 14px;
  text-align: center;
}

.leaflet-tooltip {
//  background-color: transparent;
  border: 5px;
  box-shadow: 5px;
  font-size: 16px;
}

.image-container {
    float: right; /* Das Bild rechts ausrichten */
    margin: 0 0 10px 10px; /* Platz um das Bild herum schaffen */
}

#feature-info {
  display: inline-block;
}

#feature-info img {
  width:50%;
  height: auto;
  float: right;
  margin: 10px 10px 10px 20px;
}


#feature-info img[src*="#pano"] {
  width:100%;
  height: auto;
  margin: 10px 0px 10px 20px;
}

#feature-info p {
  text-align: justify;
  hyphens: auto;
}
